/* Fonts */
@import url('https://fonts.googleapis.com/css2family=Poppins:wght@400;500;600;700;800&display=swap');

/* Globales */
* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: 'poppins', sans-serif;
}
body::-webkit-scrollbar { width: 0.5rem; }
body::-webkit-scrollbar-track { background: #FFFFFF; }
body::-webkit-scrollbar-thumb { background: #000000; }
img {
  max-width: 50%;
}
.botones {
  background: #0000FF;
  border: none;
  border-radius: 6rem;
  box-shadow: 1px 1px 2px #818181;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.6rem 1.5rem;
  transition: 1s;
}
.botones:hover {
  background: #0A2F6F;
  transition: 1s;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
.cursor {
  cursor: pointer;
}
.display-flex {
  display: flex;
}
.padding-lg {
  padding: 5rem 8%;
}
.texto-normal {
  color: #4A4A4A;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

/* Header */
.header .menu {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 0 5rem;
}
.header .logo {
  max-width: 2.5rem;
  margin-right: 1rem;
}
.header .titulo {
  color: #0000FF;
  font-size: 25px;
  font-weight: 800;
}
.header .navbar ul li {
  float: left;
  position: relative;
}
.header .navbar ul li a {
  color: #767676;
  display: block;
  font-size: 18px;
  padding: 20px;
  transition: 1s;
}
.header .navbar ul li a:hover {
  color: #000000;
  transition: 1s;
}
.header .icono {
  font-size: 1.3rem;
  margin-right: 2rem;
}
.header .sub-menu {
  background: #D8D8D8;
  border-radius: 0 0 0.8rem 0.8rem;
  display: none;
  font-size: 0.7rem;
  padding: 1.3rem 1rem;
  position: absolute;
  top: 4.15rem;
}
.header p {
  color: #000000;
}
.header .menu-lateral {
  display: none;
}

/* Inicio */
.inicio {
  align-items: center;
  display: flex;
  background: url('../images/fondo-1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  justify-content: space-between;
  padding: 0 0 0 8%;
}
.inicio .informacion {
  margin-right: 10%;
  width: 100%;
}
.inicio .texto-bienvenida {
  color: #9BCE21;
  font-size: 1.2rem;
  font-weight: 700;
}
.inicio h1 {
  color: #000000;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px #A4A4A4;
}
.inicio .espacio {
  margin-bottom: 3.5rem;
}
.inicio .botones {
  margin: 3rem 1.5rem 0 0;
}
.inicio .slider {
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.inicio .image {
  display: flex;
  padding: 3rem 0;
}
.inicio .image img {
  height: 26rem;
  min-width: 25rem !important;
}

/* Sección 1 */
.seccion-1 {
  background: #EAEAEA;
}
.seccion-1 h5 {
  color: #FA9824;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 1px #000000;
}
.seccion-1 .display-flex {
  justify-content: space-between;
}
.seccion-1 .cartas {
  background: #FFFFFF;
  border-top: #9BCE21 2px solid;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px #BCBCBC;
  padding: 1.5rem;
  text-align: center;
  width: 30%;
}
.seccion-1 .cartas img {
  margin-top: 2rem;
}
.seccion-1 .texto-final {
  color: #000000;
  font-size: 0.8rem;
  margin: 3rem 10% 0 10%;
  text-align: center;
}

/* Sección 2 */
.seccion-2 {
  background: #FFFFFF;
  text-align: center;
}
.seccion-2 h2 {
  color: #FA9824;
  font-size: 2.2rem;
  text-shadow: 1px 1px 1px #000000;
}
.seccion-2 .box-container { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 55px;
}
.seccion-2 .box {
  background: #FFFFFF;
  border-radius: 15px;
  border-top: 2px solid #9BCE21;
  box-shadow: 0 5px 10px #00000033;
  display: none;
  padding: 1.5rem 1.5rem 1rem 2rem;
}
.seccion-2 .box:nth-child(1),
.seccion-2 .box:nth-child(2),
.seccion-2 .box:nth-child(3),
.seccion-2 .box:nth-child(4),
.seccion-2 .box:nth-child(5),
.seccion-2 .box:nth-child(6),
.seccion-2 .box:nth-child(7),
.seccion-2 .box:nth-child(8) {
  display: inline-block;
}
.seccion-2 .box img {
  height: 140px;
}
.seccion-2 .products-txt h3 {
  color: #111419;
  font-size: 20px;
  margin-bottom: 10px;
}
.seccion-2 .product-txt p {
  font-size: 0.9rem;
  color: #515557;
  margin-bottom: 10px;
}
.seccion-2 .precio {
  color: #FA9824 !important;
  font-size: 17px;
  font-weight: 700;
}
.seccion-2 .btn-3 {
  border-radius: 5px;
  padding: 8px 25px;
  transition: 1s;
}
.seccion-2 .btn-3:hover {
  color: #9BCE21;
  transition: 1s;
}
.seccion-2 .btn-2 {
  background: #9BCE21;
  margin: 3rem auto 0 auto;
  transition: 1s;
  width: 11rem;
}
.seccion-2 .btn-2:hover {
  background: #0A2F6F;
  transition: 1s;
}





.testimonial {
    padding: 100px 0;
    text-align: center;
}
.testimonial-content {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.testimonial-1{
    flex-basis: calc(50% - 20px);
    padding: 50px;
    text-align: left;
    background-color: #F6FAFB;
    border-top: 5px solid #9BCE21;
}

.testimonial-1 img {
    width: 100px;
}

.testimonial-1 h4{
    font-size: 17px;
    color: #111419;
}

.testimonial-1 p {
    color: #515557;
    margin-bottom: 25px;
}
.footer{
    background-color: #13462E;
    padding: 100px 0;
}

.footer-content{
    display: flex;
    justify-content: space-around;
}

.link h3 {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 15px;
}
.link a {
    color: #aeafaf;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: #9BCE21;
}

@media (max-width:991px) {

    .menu {
        padding:20px;
    }
    .menu label {
        display: initial;
    }

    .menu.navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF9000;
        display: none;

    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar{
        display: initial;
    } 

    .logo {
        display: none;
    }
    .menu .navbar ul li a:hover { 
        color: #FFFFFF;
    }
    
    .submenu:hover #carrito{
        width: 100%;
    }
    .header{
        padding: 50px 0 0 0;
    }
    
    .header-content{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }

    .texto{
        margin-right: 0;
    }

    .butons {
        justify-content: center;
    }

    .btn-1 {
        margin-bottom: 0;
    }
    .slider {
        display: none;    
    }

    .oferts {
        padding: 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 15px;
    }

    .products {
        padding: 0 30px 30px 30px;

    }

    .testimonial {
        padding: 30px;
    }

    .testimonial-content{
        margin-top: 20px;
        flex-direction: column;
    }

    .testimonial-1{
        padding: 25px;
        margin-bottom: 25px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}